Django>=5.2,<6.0
django-crispy-forms>=2.3
crispy-bootstrap5>=2024.2
django-debug-toolbar>=4.0
djangorestframework>=3.16
drf-spectacular>=0.28
djangorestframework-simplejwt>=5.3   # урок 40: JWT для API
